'.source.js, .source.jsx':
  'New Component':
    'prefix': '_rnc'
    'body': """
      import React, { Component, PropTypes } from 'react';

      export default class ${1:MyComponent} extends Component {
        static propTypes = {

        };

        render() {
          return (
            ${2:<div>MyComponent</div>}
          );
        }
      }

      """

  'New Stateless Component':
    'prefix': '_rns'
    'body': """
      import React, { PropTypes } from 'react';

      export const ${1:MyComponent} = props => {

        return (
          ${2:<div>MyComponent</div>}
        );
      }

      ${3:MyComponent}.propTypes = {

      }

      """

  # Lifecycle Methods
  'componentWillMount':
    'prefix': '_rcwm'
    'body': """
      componentWillMount() {
        ${1}
      }
      """

  'componentDidMount':
    'prefix': '_rcdm'
    'body': """
      componentDidMount() {
        ${1}
      }
      """

  'componentWillReceiveProps':
    'prefix': '_rcwrp'
    'body': """
      componentWillReceiveProps() {
        ${1}
      }
      """

  'componentWillUnmount':
    'prefix': '_rcwu'
    'body': """
      componentWillUnmount() {
        ${1}
      }
      """

  # PropTypes string
  'PropTypes string':
    'prefix': '_rps'
    'body': "${1:myProp}: PropTypes.string,"
  'PropType string required':
    'prefix': '_rpsr',
    'body': "${1:myProp}: PropTypes.string.isRequired,"

  # PropType number
  'PropType number':
    'prefix': '_rpn',
    'body': "${1:myProp}: PropTypes.number,"
  'PropType number required':
    'prefix': '_rpnr',
    'body': "${1:myProp}: PropTypes.number.isRequired,"

  # PropType object
  'PropType object':
    'prefix': '_rpo',
    'body': "${1:myProp}: PropTypes.object,"
  'PropType object required':
    'prefix': '_rpor',
    'body': "${1:myProp}: PropTypes.object.isRequired,"

  # PropType array
  'PropType array':
    'prefix': '_rpa',
    'body': "${1:myProp}: PropTypes.array,"
  'PropType array required':
    'prefix': '_rpar',
    'body': "${1:myProp}: PropTypes.array.isRequired,"

  # PropType bool
  'PropType bool':
    'prefix': '_rpb',
    'body': "${1:myProp}: PropTypes.bool,"
  'PropType bool required':
    'prefix': '_rpbr',
    'body': "${1:myProp}: PropTypes.bool.isRequired,"

  # PropType element
  'PropType element':
    'prefix': '_rpe',
    'body': "${1:myProp}: PropTypes.element,"
  'PropType element required':
    'prefix': '_rper',
    'body': "${1:myProp}: PropTypes.element.isRequired,"

  # PropType function
  'PropType function':
    'prefix': '_rpf',
    'body': "${1:myProp}: PropTypes.func,"
  'PropType function required':
    'prefix': '_rpfr',
    'body': "${1:myProp}: PropTypes.func.isRequired,"
