'.source.js':
  'React new Component':
    'prefix': '_rnc'
    'body': """
      import React, { Component, PropTypes } from 'react';

      export default class ${1:MyComponent} extends Component {
        static propTypes = {

        };

        render() {
          return (
            ${2:<div>MyComponent</div>}
          );
        }
      }

      """
