'.source.js, .source.jsx':
  'React new Component':
    'prefix': '_rnc'
    'body': """
      import React, { Component, PropTypes } from 'react';

      export default class ${1:MyComponent} extends Component {
        static propTypes = {

        };

        render() {
          return (
            ${2:<div>MyComponent</div>}
          );
        }
      }

      """

  # PropTypes string
  'React PropTypes string':
    'prefix': '_rps'
    'body': "${1:myProp}: PropTypes.string,"
  'React PropType string required':
    'prefix': '_rpsr',
    'body': "${1:myProp}: PropTypes.string.isRequired,"

  # PropType number
  'React PropType number':
    'prefix': '_rpn',
    'body': "${1:myProp}: PropTypes.number,"
  'React PropType number required':
    'prefix': '_rpnr',
    'body': "${1:myProp}: PropTypes.number.isRequired,"

  # PropType object
  'React PropType object':
    'prefix': '_rpo',
    'body': "${1:myProp}: PropTypes.object,"
  'React PropType object required':
    'prefix': '_rpor',
    'body': "${1:myProp}: PropTypes.object.isRequired,"

  # PropType array
  'React PropType array':
    'prefix': '_rpa',
    'body': "${1:myProp}: PropTypes.array,"
  'React PropType array required':
    'prefix': '_rpar',
    'body': "${1:myProp}: PropTypes.array.isRequired,"

  # PropType bool
  'React PropType bool':
    'prefix': '_rpb',
    'body': "${1:myProp}: PropTypes.bool,"
  'React PropType bool required':
    'prefix': '_rpbr',
    'body': "${1:myProp}: PropTypes.bool.isRequired,"

  # PropType element
  'React PropType element':
    'prefix': '_rpe',
    'body': "${1:myProp}: PropTypes.element,"
  'React PropType element required':
    'prefix': '_rper',
    'body': "${1:myProp}: PropTypes.element.isRequired,"

  # PropType function
  'React PropType function':
    'prefix': '_rpf',
    'body': "${1:myProp}: PropTypes.func,"
  'React PropType function required':
    'prefix': '_rpfr',
    'body': "${1:myProp}: PropTypes.func.isRequired,"
